@charset "utf-8";

#wrap { width:100%; overflow: hidden; }

#address { width:100%; }
#address > div { width:100%; padding-top: 5%; }
#address > div  .container { width:100%; max-width: 700px; margin: 0 auto; border:1px solid #ccc; background-color: #f9f9f9; padding: 2%; }

#address > div  .container h2 { text-align: center; font-size:30px; font-weight: 600; padding-bottom:3%; }
#address > div  .container form { width:100%; text-align: center; border:0; }
#address > div  .container form ul { margin: 0 5%; }
#address > div  .container form ul li { padding: 10px 0; }
#address > div  .container form ul li div { width:100%; }
#address > div  .container form ul li div input  { width:100%; border:1px solid #ddd; }
#address > div  .container form ul li div input::placeholder  { color:#aaa; }
#address > div  .container form ul li div input:focus  { outline: 1px solid #aaa; }
#address > div  .container form button { cursor: pointer; border-radius: 3px; margin-top: 5%; display: inline-block; width:80px; background-color: #ddd; height: 50px; color:#333; font-size: 15px; border:0; marker: 0 2px; }
#address > div  .container form button:hover { background-color: #000;  color:#f0f0f0; }
#address > div  .container form button span { display: block; font-size:11px; color:#777; }
#address > div  .container form button:hover span { color:#ddd; }


.outputTable { width:60%; margin: 50px auto; }
.outputTable table { width:100%; border-collapse: collapse; }
.outputTable table tr { width:100%; }
.outputTable table tr:hover { background-color: #f9f9f9; }
.outputTable table tr th,td { border:1px solid #ccc; padding:0 10px; box-sizing: border-box;  }
.outputTable table tr th { font-size:15px; color:#444; height: 55px; background-color: #f4f4f4; }
.outputTable table tr th:nth-child(1) { width:8.0701754%; }
.outputTable table tr th:nth-child(2) { width:6.0526316%; }
.outputTable table tr th:nth-child(3) { width:11.3157895%; }
.outputTable table tr th:nth-child(4) { width:20.877193%; }
.outputTable table tr th:nth-child(5) { width:53.6842105%; }
.outputTable table tr td { font-size:14px; color:#555; height: 48px; text-align: center; }
.outputTable table tr td:last-child { text-align: left; }




.pageNation { width:100%; text-align: center; padding-top:0;} 
.pageNation ul { display: inline-block; } 
.pageNation ul li { display: inline-block; margin:0 5px; line-height: 19px;  } 
.pageNation ul li:first-child, 
.pageNation ul li:last-child  { width:27px; height: 21px; } 
.pageNation ul li:first-child a, 
.pageNation ul li:last-child  a { text-decoration: none; } 
.pageNation ul li a img { width:27px; height: 21px; margin-top:-1px; } 
.pageNation ul li.page_wrap   a.pageBtn { border-radius:2px; border:1px solid #693; font-size:13px; margin: 0 2px; box-sizing: border-box; display: inline-block; width:22px;  background-color: #fff;  color:#999; text-align: center; } 
.pageNation ul li.page_wrap   a.pageBtn:hover { background-color: #693; color:#fff; } 
.pageNation ul li.page_wrap   a.pageBtn.addPage { background-color: #693; color:#fff; } 