@charset "utf-8";


@media all and (max-width:510px){
	#content .content-wrap #section4 .section4-wrap ul li div.sec4-Event-centent a img { width:100%; padding:10px 0;}
	#content .content-wrap #section4 .section4-wrap ul li div.sec4-Event-centent a span { display:block;  padding:0; text-align:center;  line-height:150%;  padding-left:0; }		
}

@media all and (max-width:400px){
	#header #header-fixed-wrap .header-banner span { font-size:14px; padding:18px 0; }
	#header #header-fixed-wrap .header-nav ul { margin:0; }
	#header #header-fixed-wrap .header-nav ul li a { font-size:15px; padding:16.5px 0; }
	#footer #footer-fixed-wrap .footer-banner .footer-banner-scale{ transform:scale(0.8); }
	
}