@charset "utf-8";
@import url("reset.css");
@import url("font.css");



/* 헤더 LOGO BAR & NAV FIXED */
#header { z-index:3; position:fixed; top:0; left:0; width:100%; padding:0; margin:0; border:0; height:auto; }
#header #header-fixed-wrap { width:100%; height:auto; }

#header #header-fixed-wrap .header-banner { display:block; position:relative; width:100%; height:50px; background:#fff; text-align:center; }
#header #header-fixed-wrap .header-banner.addbanner { display:none; position:relative; width:100%; height:50px; background:#fff; text-align:center; }
#header #header-fixed-wrap .header-banner span { display:inline-block; font-size:16px; padding:17px 0; font-weight:300; text-shadow:none; }

#header #header-fixed-wrap .header-bar { position:relative; width:100%; height:50px; background:#512772; }

#header #header-fixed-wrap .header-bar .logoBtn-wrap { display:block; position:relative; width:50px; height:50px; margin:0 auto; }
#header #header-fixed-wrap .header-bar .logoBtn-wrap a { display: block; }
#header #header-fixed-wrap .header-bar .logoBtn-wrap a img { width:50px; padding:8px 0;}


#header #header-fixed-wrap .header-bar .cartBtn-wrap { display:block; position:absolute; right:0; top:0; width:50px; height:50px; }
#header #header-fixed-wrap .header-bar .cartBtn-wrap a { display:block; }
#header #header-fixed-wrap .header-bar .cartBtn-wrap a img { width:50px; }

#header #header-fixed-wrap .header-nav { width:100%; height:48px; background:#fff; }
#header #header-fixed-wrap .header-nav ul {  position:relative; margin:0 16px; height:48px; }
#header #header-fixed-wrap .header-nav ul li { float:left; width:20%; height:48px; }
#header #header-fixed-wrap .header-nav ul li a { display:block; width:100%; font-size:16px; color:#212121; text-align:center; padding:16px 0; text-shadow:none; font-weight:400; }
#header #header-fixed-wrap .header-nav ul li a.addmainbar { color:#512772; font-weight:600; }
#header #header-fixed-wrap .header-nav ul li a i.main_bar { display:block; position:absolute; left:0%; bottom:0; width:20%; height:3px; background:#512772; }





#content { z-index:1; position:relative; width:100%; padding:0 0 100px 0; margin:0; border:0;  }
#content .content-wrap { width:100%; padding-top:148px; }
#content .content-wrap.addbanner { width:100%; padding-top: 98px; }

#content .content-wrap #section1 { width:100%; }
#content .content-wrap #section1 .section1-slide-container { position:relative; width:100%; }
#content .content-wrap #section1 .section1-slide-container .section1-slide-wrap { position:relative; }
#content .content-wrap #section1 .section1-slide-container .section1-slide-wrap li { position:absolute; top:0; width:100%; }
#content .content-wrap #section1 .section1-slide-container .section1-slide-wrap li:nth-child(1) {left:   0%; position:relative}
#content .content-wrap #section1 .section1-slide-container .section1-slide-wrap li:nth-child(2) {left: 100%;}
#content .content-wrap #section1 .section1-slide-container .section1-slide-wrap li:nth-child(3) {left: 200%;}
#content .content-wrap #section1 .section1-slide-container .section1-slide-wrap li:nth-child(4) {left: 300%;}
#content .content-wrap #section1 .section1-slide-container .section1-slide-wrap li:nth-child(5) {left: 400%;}
#content .content-wrap #section1 .section1-slide-container .section1-slide-wrap li:nth-child(6) {left: 500%;}
#content .content-wrap #section1 .section1-slide-container .section1-slide-wrap li:nth-child(7) {left: 600%;}
#content .content-wrap #section1 .section1-slide-container .section1-slide-wrap li:nth-child(8) {left:-100%;}
#content .content-wrap #section1 .section1-slide-container .section1-slide-wrap li img{ width:100%; }





#content .content-wrap #section2 { width:100%; padding:50px 0;}
#content .content-wrap #section2 .section2-wrap { width:100%; }
#content .content-wrap #section2 .section2-wrap h2 { font-size:18px; font-weight:600; color:#333; padding-bottom:15px;  }
#content .content-wrap #section2 .section2-wrap .section2-slide-container { margin:0 11px; }
#content .content-wrap #section2 .section2-wrap .section2-slide-container .section2-slide-view { width:100%; overflow:visible; }
#content .content-wrap #section2 .section2-wrap .section2-slide-container .section2-slide-view .section2-slide-wrap { position:relative; width:4400px; }
#content .content-wrap #section2 .section2-wrap .section2-slide-container .section2-slide-view .section2-slide-wrap li { float:left; width:550px; }
#content .content-wrap #section2 .section2-wrap .section2-slide-container .section2-slide-view .section2-slide-wrap li div { margin:0 5px; }
#content .content-wrap #section2 .section2-wrap .section2-slide-container .section2-slide-view .section2-slide-wrap li div a{ display:block; position:relative; width:100%; }
#content .content-wrap #section2 .section2-wrap .section2-slide-container .section2-slide-view .section2-slide-wrap li div a img{ position:relative; z-index:1; width:100%; }
#content .content-wrap #section2 .section2-wrap .section2-slide-container .section2-slide-view .section2-slide-wrap li div a span{ position:absolute; top:0; left:0; z-index:2;  width:23.7037037%; max-width:128px;  }
#content .content-wrap #section2 .section2-wrap .section2-slide-container .section2-slide-view .section2-slide-wrap li div a span img{ width:100%; }



#content .content-wrap #section3 { width:100%; padding:50px 0; background:#f4f4f4; }
#content .content-wrap #section3 .section3-wrap { width:100%;  height:auto; }
#content .content-wrap #section3 .section3-wrap ul { margin:0 16px; }
#content .content-wrap #section3 .section3-wrap ul li { padding:10px 0;}
#content .content-wrap #section3 .section3-wrap ul li h2.sec3-title { font-weight:600; font-size:18px; color:#5f0080; padding-bottom:10px; }
#content .content-wrap #section3 .section3-wrap ul li p.sec3-title-p { font-size:14px; color:#999; }
#content .content-wrap #section3 .section3-wrap ul li div { width:100%; }
#content .content-wrap #section3 .section3-wrap ul li div a { position:relative; display:block; width:100%; }
#content .content-wrap #section3 .section3-wrap ul li div a img { width:100%; }
#content .content-wrap #section3 .section3-wrap ul li div a span.sec3-Save-wrap { z-index:2; position:absolute; top:0; left:0; width:12.2772277%; max-width:124px; }
#content .content-wrap #section3 .section3-wrap ul li div a span.sec3-Save-wrap img { z-index:1;  position:relative; width:100%; max-width:124px; }

#content .content-wrap #section3 .section3-wrap ul li div a span.sec3-Save-Counter { z-index:2; display:block; position:absolute; bottom:0; left:0; width:100%; height:36px; text-align:center; background:rgba(95, 0, 128, .6); }
#content .content-wrap #section3 .section3-wrap ul li div a span.sec3-Save-Counter span.hour,
#content .content-wrap #section3 .section3-wrap ul li div a span.sec3-Save-Counter span.minute,
#content .content-wrap #section3 .section3-wrap ul li div a span.sec3-Save-Counter span.scond,
#content .content-wrap #section3 .section3-wrap ul li div a span.sec3-Save-Counter span.text { display: inline-block; color:#fff; font-size:20px; padding:10px 0 6px 0; font-weight:600; }
#content .content-wrap #section3 .section3-wrap ul li div a span.sec3-Save-Counter span.text { font-size:13px; font-weight:100; margin-top:2px; } 

#content .content-wrap #section3 .section3-wrap ul li div a span.sec3-Save-Counter span.colone {  color:#fff;  display: inline-block; margin:0 1px; padding:10px 0 6px 0; font-size:20px; font-weight:600;  }


#content .content-wrap #section3 .section3-wrap ul li h4.sec3-sub-title { font-weight:600; font-size:16px; color:#212121; padding-bottom:10px;  }
#content .content-wrap #section3 .section3-wrap ul li p.sec3-sub-title-p {}
#content .content-wrap #section3 .section3-wrap ul li p.sec3-sub-title-p span:nth-child(1) { font-weight:600; font-size:16px; color:#5f0080; }
#content .content-wrap #section3 .section3-wrap ul li p.sec3-sub-title-p span:nth-child(2) { font-weight:600; font-size:16px; color:#000; }
#content .content-wrap #section3 .section3-wrap ul li p.sec3-sub-title-p span:nth-child(3) { color:#bbb; text-decoration:line-through; }




#content .content-wrap #section4 { width:100%; padding:50px 0; background:#f4f4f4; }
#content .content-wrap #section4 .section4-wrap { width:100%;  height:auto; }
#content .content-wrap #section4 .section4-wrap ul { margin:0 16px; }
#content .content-wrap #section4 .section4-wrap ul li { }
#content .content-wrap #section4 .section4-wrap ul li h2 { font-weight:600; font-size:18px; color:212121; padding-bottom:10px; }
#content .content-wrap #section4 .section4-wrap ul li div.sec4-Event-centent { margin:8px 0; }
#content .content-wrap #section4 .section4-wrap ul li div.sec4-Event-centent a { }
#content .content-wrap #section4 .section4-wrap ul li div.sec4-Event-centent a img { width:26.2743037%; min-width:250px; max-width:500px; vertical-align:middle; }
#content .content-wrap #section4 .section4-wrap ul li div.sec4-Event-centent a span { display:inline-block;  vertical-align:middle; line-height:180%;  padding-left:10px;  }
#content .content-wrap #section4 .section4-wrap ul li div.sec4-Event-centent a span span:first-child{ display:block; font-size:16px; font-weight:500; color:#212121; }
#content .content-wrap #section4 .section4-wrap ul li div.sec4-Event-centent a span span:last-child{ display:block;  font-size:16px; font-weight:500; color:#999; }





#content .content-wrap #section5 { width:100%; padding:50px 0;}
#content .content-wrap #section5 .section5-wrap { width:100%; }
#content .content-wrap #section5 .section5-wrap h2 { font-size:18px; font-weight:600; color:#333; padding-bottom:15px;  }
#content .content-wrap #section5 .section5-wrap .section5-slide-container { margin:0 11px; }
#content .content-wrap #section5 .section5-wrap .section5-slide-container .section5-slide-view { width:100%; overflow:visible; }
#content .content-wrap #section5 .section5-wrap .section5-slide-container .section5-slide-view .section5-slide-wrap { position:relative; width:3300px; }
#content .content-wrap #section5 .section5-wrap .section5-slide-container .section5-slide-view .section5-slide-wrap li { float:left; width:550px; }
#content .content-wrap #section5 .section5-wrap .section5-slide-container .section5-slide-view .section5-slide-wrap li div { margin:0 5px; }
#content .content-wrap #section5 .section5-wrap .section5-slide-container .section5-slide-view .section5-slide-wrap li div a{ display:block; position:relative; width:100%; }
#content .content-wrap #section5 .section5-wrap .section5-slide-container .section5-slide-view .section5-slide-wrap li div a img{ position:relative; z-index:1; width:100%; }
#content .content-wrap #section5 .section5-wrap .section5-slide-container .section5-slide-view .section5-slide-wrap li div a span{ position:absolute; top:0; left:0; z-index:2;  width:23.7037037%; max-width:128px;  }
#content .content-wrap #section5 .section5-wrap .section5-slide-container .section5-slide-view .section5-slide-wrap li div a span img{ width:100%; }





#footer { z-index:2; position:relative; width:100%; padding:0; margin:0; border:0; background:#f7f7f7; border-top:1px solid #ddd;}

/* 푸터 NAV FIXED */
#footer #footer-fixed-wrap { z-index:3; position:fixed; bottom:0; left:0; width:100%; height:auto; }

/* 푸터 BANNER */
#footer #footer-fixed-wrap .footer-banner { display:block; width:100%; height:60px; background:url(../img/bg_gray.png) repeat 0 0; }
#footer #footer-fixed-wrap .footer-banner.addFootbanner { display:none; }

/* 푸터 BANNER 400이하에서 Scale */
#footer #footer-fixed-wrap .footer-banner .footer-banner-scale{ transform:scale(1); }

#footer #footer-fixed-wrap .footer-banner .footer-banner-wrap { z-index:1;  position:relative; width:100%; padding:6px 0; text-align:center; }
#footer #footer-fixed-wrap .footer-banner .footer-banner-wrap li { display:inline-block; margin:0 5px; }
#footer #footer-fixed-wrap .footer-banner .footer-banner-wrap li img { width:48px; }
#footer #footer-fixed-wrap .footer-banner .footer-banner-wrap li p { text-align:left; padding-top:5px; line-height:140%; font-size:13px; color:#bbb; padding-right:30px; font-weight:300; text-shadow:none; }

/* 푸터 BANNER CLOSE BUTTON */
#footer #footer-fixed-wrap .footer-banner .footBannerCloseBtn-wrap { z-index:2; position:absolute; left:50%; margin-left:110px; top:5px; width:40px; height:40px; }
#footer #footer-fixed-wrap .footer-banner .footBannerCloseBtn-wrap a { display:block; font-family:'Noto Sans KR'; font-size:40px; color:#bbb;  font-weight:100; text-shadow:none; }

	

/* 푸터 NAV */
#footer #footer-fixed-wrap .footer-nav { width:100%; height:48px; background:#fff; }
#footer #footer-fixed-wrap .footer-nav ul { width:100%; height:48px; }
#footer #footer-fixed-wrap .footer-nav ul li { float:left; width:25%; height:48px; }
#footer #footer-fixed-wrap .footer-nav ul li a { display:block: width:100%; }
#footer #footer-fixed-wrap .footer-nav ul li a span{ position:relative; display:block; width:100%; height:24px; margin-top:5px;}
#footer #footer-fixed-wrap .footer-nav ul li:nth-child(1) a span{ background:url(../img/ico_home.png) no-repeat 50% 0; background-size:24px 24px; }
#footer #footer-fixed-wrap .footer-nav ul li:nth-child(1) a.addfootnav span{ background-image:url(../img/ico_home_on.png); }
#footer #footer-fixed-wrap .footer-nav ul li:nth-child(1) a span:after{content:'홈'; position:absolute; bottom:-12px; left:0; width:100%; display:block; text-align:center; font-size:10px; color:#212121; font-weight:400;  }
#footer #footer-fixed-wrap .footer-nav ul li:nth-child(1) a.addfootnav span:after{ color:#512772; font-weight:600;  }

#footer #footer-fixed-wrap .footer-nav ul li:nth-child(2) a span{ background:url(../img/ico_cate.png) no-repeat 50% 0; background-size:24px 24px; }
#footer #footer-fixed-wrap .footer-nav ul li:nth-child(2) a span:after{ content:'카테고리'; position:absolute; bottom:-12px; left:0; width:100%; display:block; text-align:center; font-size:10px; color:#212121; font-weight:400;  }

#footer #footer-fixed-wrap .footer-nav ul li:nth-child(3) a span{ background:url(../img/ico_search.png) no-repeat 50% 0; background-size:24px 24px; }
#footer #footer-fixed-wrap .footer-nav ul li:nth-child(3) a span:after{ content:'검색'; position:absolute; bottom:-12px; left:0; width:100%; display:block; text-align:center; font-size:10px; color:#212121; font-weight:400;  }

#footer #footer-fixed-wrap .footer-nav ul li:nth-child(4) a span{ background:url(../img/ico_mypage.png) no-repeat 50% 0; background-size:24px 24px; }
#footer #footer-fixed-wrap .footer-nav ul li:nth-child(4) a span:after{ content:'마이컬리'; position:absolute; bottom:-12px; left:0; width:100%; display:block; text-align:center; font-size:10px; color:#212121; font-weight:400;  }

