@charset "utf-8";
@import url("./fonts.css");
@import url("./reset.css");

#home #wrap { width:100%; overflow:hidden; }

/* 웹앱 팝업 */
#home .popup { z-index:3; position:fixed; top:0; left:0; width:100%; height:37px; border-bottom:1px solid #ddd; background:#fff; }
#home .popup>div { width:100%; }
#home .popup>div .container { width:100%; }
#home .popup>div .container .popup-wrap { position:relative; width:100%; }
#home .popup>div .container .popup-wrap a { z-index:1; position:relative; display:block; width:100%; text-align:center; color:#666;  font-size:14px; text-shadow:none; }
#home .popup>div .container .popup-wrap a>span { display:block; padding:11.5px 0; }
#home .popup>div .container .popup-wrap a>span strong { font-size:14px; font-weight:600; color:#5f0080; }

/* 팝업닫기버튼 */
#home .popup>div .container .popup-wrap span.popupCloseBtn-wrap { z-index:2; position:absolute; top:0; right:0; display:block; width:38px; height:38px; }
#home .popup>div .container .popup-wrap span.popupCloseBtn-wrap a { display:block; }
#home .popup>div .container .popup-wrap span.popupCloseBtn-wrap a img { width:100%; }


/* 전체헤더 */
#home #header { z-index:3; position:fixed; top:38px; left:0; width:100%; height:98px; background:#fff; }
#home #header>div { width:100%; }
#home #header>div .container { width:100%; }

/* 가운데 로구 */
#home #header>div .container .logobar-wrap  {position:relative;  width:100%; height:50px; background:#5f0080; }
#home #header>div .container .logobar-wrap a.logoBtn { display:block; width:100%;  padding:7px 0;  text-align:center; }
#home #header>div .container .logobar-wrap a.logoBtn span { display:inline-block; }
#home #header>div .container .logobar-wrap a.logoBtn span img { width:62px; }

/* 우측카드 */
#home #header>div .container .logobar-wrap span.cartBtn-wrap { z-index:2; position:absolute; top:0; right:0; width:50px; height:50px; }
#home #header>div .container .logobar-wrap span.cartBtn-wrap a { display:block; }
#home #header>div .container .logobar-wrap span.cartBtn-wrap a img { width:100%; }

/* 네비게이션 메인메뉴 */
#home #header>div .container .nav { margin:0 10px; box-shadow:0 1px 4px rgba(0,0,0, .15); }
#home #header>div .container .nav ul { position:relative; }
#home #header>div .container .nav ul li { float:left; width:20%; text-align:center; }
#home #header>div .container .nav ul li a { display:block; line-height:50px; font-size:16px; font-weight:normal; color:#666; text-shadow:none; }
#home #header>div .container .nav ul li.addNavbar a { color:#5f0080; }

/* 메인버튼 데코레이션 바 : 메뉴를 따라 다니는 바 */
#home #header>div .container .nav ul li i { display:block; position:absolute; left:0; bottom:0px; width:20%; height:3px; background:#5f0080; }


/* 전체이지 공통 해더박스  //////////////////////////////////////// */
/* 팝업창 높이 38, 전체 헤더 네비게이션 높이 50+48 = 98 + 38 = 136 */
/* 팝업창 높이 38, 전체 헤더 네비게이션 높이 50+48 = 98 + 0  =  98 */
#home .header { height:136px; }
#home .header.addPopup { height:98px; }



/* //////////////////////////////////////////////////////// */


/* 인트로 페이지 */
/* 헤더 */
#home #intro { width:100%; }
#home #intro #intro-header { width:100%; }
#home #intro #intro-header div { width:100%; }
#home #intro #intro-header>div .container{ width:100%; }


/* 콘텐츠 */
#home #intro-content { width:100%; }
#home #intro-content>div { width:100%; }
#home #intro-content>div .container { width:100%; }
#home #intro-content>div .container #section1 { width:100%; }
#home #intro-content>div .container #section1 .section1-slide-container { position:relative; width:100%; }
#home #intro-content>div .container #section1 .section1-slide-container .section1-slide-view { z-index:1; position:relative; width:100%; overflow:hidden;}
#home #intro-content>div .container #section1 .section1-slide-container .section1-slide-view .section1-slide-wrap { z-index:1; position:relative; width:calc(1000px*10); left:0; margin-left:-1000px; /*js 창너비 */  }
#home #intro-content>div .container #section1 .section1-slide-container .section1-slide-view .section1-slide-wrap .slide { float:left; width:1000px; /*js 창너비 */     }
#home #intro-content>div .container #section1 .section1-slide-container .section1-slide-view .section1-slide-wrap .slide div { width:100%; }
#home #intro-content>div .container #section1 .section1-slide-container .section1-slide-view .section1-slide-wrap .slide div img { width:100%; }

/* 페이지번호 */
#home #intro-content>div .container #section1 .section1-slide-container .section1-slide-view .section1-slide-pageNumber { z-index:2; position:absolute; width:100px; bottom:20px; right:20px; text-align:right; }
#home #intro-content>div .container #section1 .section1-slide-container .section1-slide-view .section1-slide-pageNumber div { display:inline-block; padding:3px 10px; background:rgba(0,0,0, .2); border-radius:15px; }
#home #intro-content>div .container #section1 .section1-slide-container .section1-slide-view .section1-slide-pageNumber div span { display:inline-block; color:#fff; font-size:12px; }






/* 섹션2 섹션2,4,7,8 공통 */
#home #intro-content>div .container .section2478 { width:100%; padding:30px 0; background:#fff; }
#home #intro-content>div .container .section2478>div { margin:0 5px; }
#home #intro-content>div .container .section2478>div .section2478-container {  }

#home #intro-content>div .container .section2478>div .section2478-container .section2478-title { padding-bottom:20px; padding-left:5px; }
#home #intro-content>div .container .section2478>div .section2478-container .section2478-title h2 { font-size:18px; color:#111; font-weight:600;  }
																														
#home #intro-content>div .container .section2478>div .section2478-slide-container { position:relative; width:100%;  overflow:hidden; }
#home #intro-content>div .container .section2478>div .section2478-slide-container .section2478-slide-view { z-index:2; position:absolute; top:0; left:0; width:100%; overflow-x:scroll; padding-bottom:50px; }                 
#home #intro-content>div .container .section2478>div .section2478-slide-container .section2478-slide-view .section2478-slide-wrap { position:relative; left:0; width:calc(421.938px*8); /* JS */ }
#home #intro-content>div .container .section2478>div .section2478-slide-container .section2478-slide-view .section2478-slide-wrap .s2478Slide { float:left; width:421.938px; /* JS 슬라이드너비 421.938px = 창너비 1000px * 42.1938%  */ }
#home #intro-content>div .container .section2478>div .section2478-slide-container .section2478-slide-view .section2478-slide-wrap .s2478Slide>div { margin:0 5px; }
#home #intro-content>div .container .section2478>div .section2478-slide-container .section2478-slide-view .section2478-slide-wrap .s2478Slide>div .section2478-slide-img { position:relative; width:100%; }
#home #intro-content>div .container .section2478>div .section2478-slide-container .section2478-slide-view .section2478-slide-wrap .s2478Slide>div .section2478-slide-img img { width:100%; }
#home #intro-content>div .container .section2478>div .section2478-slide-container .section2478-slide-view .section2478-slide-wrap .s2478Slide>div .section2478-slide-img .section2478-sale { z-index:2; position:absolute; top:0; left:0; width:25.9997914%; }
#home #intro-content>div .container .section2478>div .section2478-slide-container .section2478-slide-view .section2478-slide-wrap .s2478Slide>div .section2478-slide-img .section2478-sale img { width:100%; }

#home #intro-content>div .container .section2478>div .section2478-slide-container .section2478-slide-view .section2478-slide-wrap .s2478Slide>div .section2478-slide-caption { width:100%; }
#home #intro-content>div .container .section2478>div .section2478-slide-container .section2478-slide-view .section2478-slide-wrap .s2478Slide>div .section2478-slide-caption h4 { font-size:14px; color:#555; padding-top:10px; width:95%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
#home #intro-content>div .container .section2478>div .section2478-slide-container .section2478-slide-view .section2478-slide-wrap .s2478Slide>div .section2478-slide-caption p { padding-top:7px; font-size:14px; font-weight:600; color:#111; }
#home #intro-content>div .container .section2478>div .section2478-slide-container .section2478-slide-view .section2478-slide-wrap .s2478Slide>div .section2478-slide-caption p del { color:#aaa; font-weight:normal;  }


/* 섹션3 */
/* 이벤트 소식 */
#home #intro-content>div .container #section3 { width:100%; padding:40px 0; background:#fafafa; }
#home #intro-content>div .container #section3>div { margin:0 10px; }

/* 타이틀 */
#home #intro-content>div .container #section3>div .section3-container .section3-title { padding-bottom:20px; padding-left:5px; }
#home #intro-content>div .container #section3>div .section3-container .section3-title h2 { font-size:18px; font-weight:600;  }
#home #intro-content>div .container #section3>div .section3-container .section3-title h2 a { display:block; color:#111; }
#home #intro-content>div .container #section3>div .section3-container .section3-title h2 a span { display:inline-block; }
#home #intro-content>div .container #section3>div .section3-container .section3-title h2 a span img { margin-left:-5px; margin-top:-2px; width:23px; }


#home #intro-content>div .container #section3>div .section3-container { width:100%; }
#home #intro-content>div .container #section3>div .section3-container ul {  }
#home #intro-content>div .container #section3>div .section3-container ul li { padding-bottom:15px; }
#home #intro-content>div .container #section3>div .section3-container ul li:last-child { padding-bottom:0; }
#home #intro-content>div .container #section3>div .section3-container ul li>div { position:relative; }
#home #intro-content>div .container #section3>div .section3-container ul li>div .section3-list-left { float:left; width:25.3782%;  }
#home #intro-content>div .container #section3>div .section3-container ul li>div .section3-list-left div {  }
#home #intro-content>div .container #section3>div .section3-container ul li>div .section3-list-left div img { width:100%; }


#home #intro-content>div .container #section3>div .section3-container ul li>div .section3-list-right { float:left; width:74.6218%; height:100%; }
#home #intro-content>div .container #section3>div .section3-container ul li>div .section3-list-right>div { }
#home #intro-content>div .container #section3>div .section3-container ul li>div .section3-list-right>div>div { position:absolute; top:50%; left:25.3782%; margin-left:20px; margin-top:-20px;  }
#home #intro-content>div .container #section3>div .section3-container ul li>div .section3-list-right>div>div h2 { font-size:16px; color:#444; font-weight:600; padding-bottom:10px; }
#home #intro-content>div .container #section3>div .section3-container ul li>div .section3-list-right>div>div h3 { font-size:14px; color:#999; font-weight:400;  }





/* 섹션4 섹션2의 공통 슬라이드 */
#home #intro-content>div .container #section4 { width:100%; padding:30px 0; background:#fff; }
#home #intro-content>div .container #section4>div { margin:0 5px; }
#home #intro-content>div .container #section4>div .section2478-container {  }

#home #intro-content>div .container #section4>div .section2478-container .section2478-title { padding-bottom:20px; padding-left:5px; }
#home #intro-content>div .container #section4>div .section2478-container .section2478-title h2 { font-size:18px; color:#111; font-weight:600;  }



#home #intro-content>div .container #section4>div .section2478-slide-container { position:relative; width:100%; }
#home #intro-content>div .container #section4>div .section2478-slide-container .section2478-slide-view { position:relative; width:100%; overflow-x:scroll; }
#home #intro-content>div .container #section4>div .section2478-slide-container .section2478-slide-view .section2478-slide-wrap { position:relative; left:0; width:calc(421.938px*8); /* JS */ }
#home #intro-content>div .container #section4>div .section2478-slide-container .section2478-slide-view .section2478-slide-wrap .s2478Slide { float:left; width:421.938px; /* JS 슬라이드너비 421.938px = 창너비 1000px * 42.1938%  */ }
#home #intro-content>div .container #section4>div .section2478-slide-container .section2478-slide-view .section2478-slide-wrap .s2478Slide>div { margin:0 5px; }
#home #intro-content>div .container #section4>div .section2478-slide-container .section2478-slide-view .section2478-slide-wrap .s2478Slide>div .section2478-slide-img { position:relative; width:100%; }
#home #intro-content>div .container #section4>div .section2478-slide-container .section2478-slide-view .section2478-slide-wrap .s2478Slide>div .section2478-slide-img img { width:100%; }
#home #intro-content>div .container #section4>div .section2478-slide-container .section2478-slide-view .section2478-slide-wrap .s2478Slide>div .section2478-slide-img .section2478-sale { z-index:2; position:absolute; top:0; left:0; width:25.9997914%; }
#home #intro-content>div .container #section4>div .section2478-slide-container .section2478-slide-view .section2478-slide-wrap .s2478Slide>div .section2478-slide-img .section2478-sale img { width:100%; }

#home #intro-content>div .container #section4>div .section2478-slide-container .section2478-slide-view .section2478-slide-wrap .s2478Slide>div .section2478-slide-caption { width:100%; }
#home #intro-content>div .container #section4>div .section2478-slide-container .section2478-slide-view .section2478-slide-wrap .s2478Slide>div .section2478-slide-caption h4 { font-size:14px; color:#555; padding-top:10px; }
#home #intro-content>div .container #section4>div .section2478-slide-container .section2478-slide-view .section2478-slide-wrap .s2478Slide>div .section2478-slide-caption p { padding-top:7px; font-size:14px; font-weight:600; color:#111; }
#home #intro-content>div .container #section4>div .section2478-slide-container .section2478-slide-view .section2478-slide-wrap .s2478Slide>div .section2478-slide-caption p del { color:#aaa; font-weight:normal;  }




/* 섹션5 */

/* 섹션2 섹션5,6 공통 */					
#home #intro-content>div .container .section56 { width:100%; padding:30px 0; background:#fff; }
#home #intro-content>div .container .section56>div { margin:0 5px; }
#home #intro-content>div .container .section56>div .section56-container {  }

#home #intro-content>div .container .section56>div .section56-container .section56-title { padding-bottom:20px; padding-left:5px; }
#home #intro-content>div .container .section56>div .section56-container .section56-title h2 { font-size:18px; color:#111; font-weight:600;  }


																														
/* 필터링 버튼 */
.section56-filter-wrap { width:100%; border-top:1px solid #f4f4f4; border-bottom:1px solid #f4f4f4; }
.section56-filter-wrap>div { margin:0 10px; }
.section56-filter-wrap>div .section56-filter-container { position:relative; height:50px;  overflow:hidden; width:100%; }
.section56-filter-wrap>div .section56-filter-container .section56-filter-view { position:absolute; top:0; left:0; width:100%; overflow-x:auto; padding-bottom:50px; }
.section56-filter-wrap>div .section56-filter-container .section56-filter-view .section56-filter-button-wrap { position:relative; width:1360px; padding:20px 0; }
.section56-filter-wrap>div .section56-filter-container .section56-filter-view .section56-filter-button-wrap li { display:inline-block; }
.section56-filter-wrap>div .section56-filter-container .section56-filter-view .section56-filter-button-wrap li span { display:inline-block; margin-right:10px; }
.section56-filter-wrap>div .section56-filter-container .section56-filter-view .section56-filter-button-wrap li span a { color:#999; padding:5px 0; font-size:14px; font-weight:normal; }
.section56-filter-wrap>div .section56-filter-container .section56-filter-view .section56-filter-button-wrap li span a.addS56Filter { color:#5f0080; }

.section56-filter-wrap>div .section56-filter-container .section56-filter-view .section56-filter-button-wrap li i { z-index:2; position:absolute; bottom:7px; left:38px;/*버튼 위치 js animate */ width:80px; /* 버튼너비 js animate */ height:2px; background:#5f0080; }




																														
#home #intro-content>div .container .section56>div .section56-slide-container { position:relative; width:100%; padding-top:20px; }
#home #intro-content>div .container .section56>div .section56-slide-container .section56-slide-view { position:relative; width:100%; }
#home #intro-content>div .container .section56>div .section56-slide-container .section56-slide-view .section56-slide-wrap { position:relative; left:0; width:100%; }
#home #intro-content>div .container .section56>div .section56-slide-container .section56-slide-view .section56-slide-wrap .s56Slide { float:left; width:33.333%;  }
#home #intro-content>div .container .section56>div .section56-slide-container .section56-slide-view .section56-slide-wrap .s56Slide>div { margin:0 5px; }
#home #intro-content>div .container .section56>div .section56-slide-container .section56-slide-view .section56-slide-wrap .s56Slide>div .section56-slide-img { position:relative; width:100%; }
#home #intro-content>div .container .section56>div .section56-slide-container .section56-slide-view .section56-slide-wrap .s56Slide>div .section56-slide-img img { width:100%; }
#home #intro-content>div .container .section56>div .section56-slide-container .section56-slide-view .section56-slide-wrap .s56Slide>div .section56-slide-img .section56-sale { z-index:2; position:absolute; top:0; left:0; width:25.9997914%; }
#home #intro-content>div .container .section56>div .section56-slide-container .section56-slide-view .section56-slide-wrap .s56Slide>div .section56-slide-img .section56-sale img { width:100%; }

#home #intro-content>div .container .section56>div .section56-slide-container .section56-slide-view .section56-slide-wrap .s56Slide>div .section56-slide-caption { width:100%; }
#home #intro-content>div .container .section56>div .section56-slide-container .section56-slide-view .section56-slide-wrap .s56Slide>div .section56-slide-caption h4 { font-size:14px; color:#555; padding-top:10px; width:95%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
#home #intro-content>div .container .section56>div .section56-slide-container .section56-slide-view .section56-slide-wrap .s56Slide>div .section56-slide-caption p { padding-top:7px; font-size:14px; font-weight:600; color:#111; }
#home #intro-content>div .container .section56>div .section56-slide-container .section56-slide-view .section56-slide-wrap .s56Slide>div .section56-slide-caption p del { color:#aaa; font-weight:normal;  }


#home #intro-content>div .container .section56-more-view { width:auto; margin:40px 5px 0 5px; }
#home #intro-content>div .container .section56-more-view a { display:block; text-align:center; border:0; border-radius:0; background:#f0f0f0; font-size:14px; text-shadow:none; color:#666; font-weight:normal; }
#home #intro-content>div .container .section56-more-view a span {display:inline-block; }
#home #intro-content>div .container .section56-more-view a span:first-child { padding:15px 0; }
#home #intro-content>div .container .section56-more-view a span:last-child  { margin-top:11px; margin-left:-1px; }
#home #intro-content>div .container .section56-more-view a span img { width:20px; }





/* 섹션8 */
#home #intro-content>div .container #section8 { background:#fafafa; }


/* 섹션6 */
#home #intro-content>div .container #section6 { background:#e6edf2; padding:60px 0; }
#home #intro-content>div .container #section6 .section6-title { text-align:center; line-height:150%; }
#home #intro-content>div .container #section6 .section6-title h2 { font-size:18px; font-weight:600; }
#home #intro-content>div .container #section6 .section6-title h3 { font-size:14px; }



/* 섹션9 공통 */					
#home #intro-content>div .container .section9>div { margin:0 5px; }
#home #intro-content>div .container .section9>div .section9-container {  }

#home #intro-content>div .container .section9 { width:100%; padding:30px 0; background:#fff; }
#home #intro-content>div .container .section9>div .section9-container .section9-title { padding-bottom:20px; padding-left:5px; }
#home #intro-content>div .container .section9>div .section9-container .section9-title h2 { font-size:18px; color:#111; font-weight:600;  }
																														
#home #intro-content>div .container .section9>div .section9-slide-container { position:relative; width:100%; height:calc(449.422px+59px); /* js 이미지높이+글자박스높이 */ overflow:hidden; }
#home #intro-content>div .container .section9>div .section9-slide-container .section9-slide-view { z-index:2; position:absolute; top:0; left:0; width:100%;  overflow-x:scroll; padding-bottom:100px;  }
#home #intro-content>div .container .section9>div .section9-slide-container .section9-slide-view .section9-slide-wrap { position:relative; left:0; width:calc(674.141px*6); /* JS */ }
#home #intro-content>div .container .section9>div .section9-slide-container .section9-slide-view .section9-slide-wrap .s9Slide { float:left; width:674.141px; /* JS 슬라이드너비 421.938px = 창너비 1000px * 42.1938%  */ }
#home #intro-content>div .container .section9>div .section9-slide-container .section9-slide-view .section9-slide-wrap .s9Slide>div { margin:0 5px; }
#home #intro-content>div .container .section9>div .section9-slide-container .section9-slide-view .section9-slide-wrap .s9Slide>div .section9-slide-img { position:relative; width:100%; }
#home #intro-content>div .container .section9>div .section9-slide-container .section9-slide-view .section9-slide-wrap .s9Slide>div .section9-slide-img img { width:100%; }
#home #intro-content>div .container .section9>div .section9-slide-container .section9-slide-view .section9-slide-wrap .s9Slide>div .section9-slide-img .section9-sale { z-index:2; position:absolute; top:0; left:0; width:25.9997914%; }
#home #intro-content>div .container .section9>div .section9-slide-container .section9-slide-view .section9-slide-wrap .s9Slide>div .section9-slide-img .section9-sale img { width:100%; }

#home #intro-content>div .container .section9>div .section9-slide-container .section9-slide-view .section9-slide-wrap .s9Slide>div .section9-slide-caption { width:100%; }
#home #intro-content>div .container .section9>div .section9-slide-container .section9-slide-view .section9-slide-wrap .s9Slide>div .section9-slide-caption h4 { font-size:14px; color:#555; padding-top:10px; width:95%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
#home #intro-content>div .container .section9>div .section9-slide-container .section9-slide-view .section9-slide-wrap .s9Slide>div .section9-slide-caption p { padding-top:7px; font-size:14px; font-weight:600; color:#111; }
#home #intro-content>div .container .section9>div .section9-slide-container .section9-slide-view .section9-slide-wrap .s9Slide>div .section9-slide-caption p del { color:#aaa; font-weight:normal;  }


/* 공통 전처보기 */
.allViewBtn { display:block; width:100%; height:100%; background:url(../img/ico_next2_v3.png) no-repeat 50% 50%; background-size:40% auto; }




#home #intro-footer { padding:0 0 140px 0; background:#f9f9f9; border:0; }
#home #intro-footer>div { width:100%; }
#home #intro-footer>div .container { width:100%; }

#home #intro-footer>div .container .footBanner { width:100%; }
#home #intro-footer>div .container .footBanner img { width:100%; }

#home #intro-footer>div .container .foot-content { padding:30px 10px 0 10px; }
#home #intro-footer>div .container .foot-content li { width:auto; }
#home #intro-footer>div .container .foot-content li div { padding:10px 0; font-size:11px; }
#home #intro-footer>div .container .foot-content li div a  { font-size:11px; color:#888; font-weight:normal; }
#home #intro-footer>div .container .foot-content li div a.kakao  { line-height:130%; }
#home #intro-footer>div .container .foot-content li div h3 { font-size:11px; color:#888; font-weight:normal; padding-bottom:8px; }
#home #intro-footer>div .container .foot-content li div p  { font-size:11px; color:#888; font-weight:normal; padding-bottom:8px; }
#home #intro-footer>div .container .foot-content li div address  { font-size:11px; color:#888; font-weight:normal; padding-bottom:8px; line-height:130%; }
#home #intro-footer>div .container .foot-content li div span  { display:inline-block; margin-right:10px; }
#home #intro-footer>div .container .foot-content li div span img  { width:43px;  }
#home #intro-footer>div .container .foot-content li div.snsIcon img  { width:35px;  }
#home #intro-footer>div .container .foot-content li:last-child a span:last-child  { padding-top:8px; font-size:10px; line-height:150%; }
#home #intro-footer>div .container .foot-content li .telBtn  { color:#5f0080; font-size:20px; }
#home #intro-footer>div .container .foot-content li .purple  { color:#5f0080; }




/* 메인 공통 요소 메인1,2,3 //////////////////////////////////////////////////////////// */

 .main-content { width:100%; padding:0; background:#f0f0f0; }
 .main-content>div { width:auto; padding:0 5px 120px 5px; }
 .main-content>div .container { width:100%; }
 .main-content>div .container .main-content-title { padding:30px 5px 10px 5px; background:transparent; }
 .main-content>div .container .main-content-title .main-content-title-left { float:left; }
 .main-content>div .container .main-content-title .main-content-title-left>a { display:inline-block; font-size:14px; color:#666; padding:5px 16px 5px 10px; background:url(../img/main1/ico_arrow_top_20x20.png) no-repeat 100% 40%; background-size:11px auto; }
 .main-content>div .container .main-content-title .main-content-title-left>ul { display:none; background:#fff;  padding:5px 10px; text-align:left; margin-top:5px; }
 .main-content>div .container .main-content-title .main-content-title-left>ul li { padding:10px 0; }
 .main-content>div .container .main-content-title .main-content-title-left>ul li a { display:block; font-size:14px; color:#666;}
 .main-content>div .container .main-content-title .main-content-title-left>ul li:first-child a { color:#5f0080; }
 
 .main-content>div .container .main-content-title .main-content-title-right {  float:right; }
 .main-content>div .container .main-content-title .main-content-title-right>a { display:inline-block; font-size:14px; color:#666; padding:5px 16px 5px 10px; background:url(../img/main1/ico_arrow_top_20x20.png) no-repeat 100% 40%; background-size:11px auto; }
 .main-content>div .container .main-content-title .main-content-title-right>ul { display:none; background:#fff; padding:5px 10px; text-align:right;  margin-top:5px; }
 .main-content>div .container .main-content-title .main-content-title-right>ul li { padding:10px 0; }
 .main-content>div .container .main-content-title .main-content-title-right>ul li a { display:block; font-size:14px; color:#666; }
 .main-content>div .container .main-content-title .main-content-title-right>ul li:first-child a { color:#5f0080; }


 .main-content>div .container .main-content-container { width:100%; }
 .main-content>div .container .main-content-container>div { width:auto; }
 .main-content>div .container .main-content-container>div ul { width:100%; }
 .main-content>div .container .main-content-container>div ul li { float:left; width:50%; }
 .main-content>div .container .main-content-container>div ul li>div { margin:0 5px 20px 5px; }
 .main-content>div .container .main-content-container>div ul li>div .main-content-img { width:100%; }
 .main-content>div .container .main-content-container>div ul li>div .main-content-img img { width:100%; }

 .main-content>div .container .main-content-container>div ul li>div .main-content-text { width:100%; background:#fff; height:120px; }
 .main-content>div .container .main-content-container>div ul li>div .main-content-text div { padding:20px; }
 .main-content>div .container .main-content-container>div ul li>div .main-content-text div h3 { font-size:14px; color:#333; padding-bottom:7px; line-height:130%; }
 .main-content>div .container .main-content-container>div ul li>div .main-content-text div h4 { font-size:12px; color:#ccc; padding-bottom:20px; }
 .main-content>div .container .main-content-container>div ul li>div .main-content-text div h5 { display:inline-block; font-size:10px; color:#5f0080; padding:3px 8px; border:1px solid #5f0080; }



/* 이벤트 메인4 */
#main4 #main4-content { width:100%; padding:0; }
#main4 #main4-content>div { padding:0 0 120px 0 ; }
#main4 #main4-content>div .container { width:100%; }
#main4 #main4-content>div .container ul { width:100%; }
#main4 #main4-content>div .container ul li { padding-bottom:10px; }
#main4 #main4-content>div .container ul li a { display:block; }
#main4 #main4-content>div .container ul li a img { width:100%; }







/* 마이컬리  - 로그인 */
#main8 { padding:0; background:#fff; }
#main8 #main8-header { padding:0; height:0; }


#main8 #main8-content { padding:0; width:100%; }
#main8 #main8-content>div { width:100%; }
#main8 #main8-content>div .container { position:relative; width:100%; }

/* 닫기 */
#main8 #main8-content>div .container .loginCloseBtn-wrap { position:absolute; top:0; left:0; width:60px; height:60px; }
#main8 #main8-content>div .container .loginCloseBtn-wrap a { display:block; }
#main8 #main8-content>div .container .loginCloseBtn-wrap a img { width:100%; }

/* 로그인 타이틀 */
#main8 #main8-content>div .container .container-title { padding:30px 0 60px 0; }
#main8 #main8-content>div .container .container-title h2 {  text-align:center; font-size:16px; color:#333; font-weight:600; }

/* 탭메뉴 회원 비회원 */
#main8 #main8-content>div .container .container-content {  }
#main8 #main8-content>div .container .container-content .container-content-tebMenu { width:100%; }
#main8 #main8-content>div .container .container-content .container-content-tebMenu { width:100%; }
#main8 #main8-content>div .container .container-content .container-content-tebMenu ul { border-bottom:1px solid #ddd; }
#main8 #main8-content>div .container .container-content .container-content-tebMenu ul li { float:left; width:50%; }
#main8 #main8-content>div .container .container-content .container-content-tebMenu ul li a { display:block; height:50px; line-height:50px; text-align:center; font-size:16px; color:#666; font-weight:500; }
#main8 #main8-content>div .container .container-content .container-content-tebMenu ul li a.addMemberBtn { color:#5f0080; border-bottom:3px solid #5f0080; box-sizing:border-box; }

#main8 #main8-content>div .container .container-content .member-login { width:100%; }
#main8 #main8-content>div .container .container-content .member-login>div { padding:30px 20px; }
#main8 #main8-content>div .container .container-content .member-login>div form { width;100%; }
#main8 #main8-content>div .container .container-content .member-login>div form .memberUl { width:100%; }
#main8 #main8-content>div .container .container-content .member-login>div form .memberUl>li { width:100%; }
#main8 #main8-content>div .container .container-content .member-login>div form .memberUl>li .inputWrap { padding:5px 0; }
#main8 #main8-content>div .container .container-content .member-login>div form .memberUl>li .inputWrap .textbox { display:block; border-radius:0; width:100%; height:50px; padding:15px; border:1px solid #ddd; box-sizing:border-box; }
#main8 #main8-content>div .container .container-content .member-login>div form .memberUl>li .inputWrap .textbox::placeholder { color:#ddd; }
#main8 #main8-content>div .container .container-content .member-login>div form .memberUl>li .inputWrap .textbox:focus { outline:1px solid #999; outline-offset:-1px;}
#main8 #main8-content>div .container .container-content .member-login>div form .memberUl>li .inputWrap ul { width;100%; padding:10px 0 40px 0; }
#main8 #main8-content>div .container .container-content .member-login>div form .memberUl>li .inputWrap ul li:first-child  { float:left;  width:30%; text-align:left; }
#main8 #main8-content>div .container .container-content .member-login>div form .memberUl>li .inputWrap ul li:last-child   { float:right; width:70%; text-align:right; }
#main8 #main8-content>div .container .container-content .member-login>div form .memberUl>li .inputWrap ul li .chkWrap {  }
#main8 #main8-content>div .container .container-content .member-login>div form .memberUl>li .inputWrap ul li .chkWrap .chkbox { position:relative; display:inline-block; width:16px; height:16px; border:1px solid #ddd; background:#fff; -webkit-appearance:none; appearance:none; border-radius:0; }
#main8 #main8-content>div .container .container-content .member-login>div form .memberUl>li .inputWrap ul li .chkWrap .chkbox.addMemercheck:after { content:''; z-index:2; display:block; position:absolute; top:0; left:0; width:16px; height:16px; background:url(../img/ico_checkbox_checked.webp) no-repeat 50% 50%; background-size:16px 16px; }
#main8 #main8-content>div .container .container-content .member-login>div form .memberUl>li .inputWrap ul li .chkWrap label { font-size:13px; color:#666;  }
#main8 #main8-content>div .container .container-content .member-login>div form .memberUl>li .inputWrap ul li .chkWrap label span {  display:inline-block; margin-top:3px; padding-left:2px; }
#main8 #main8-content>div .container .container-content .member-login>div form .memberUl>li .inputWrap ul li .chkWrap div {  display:inline-block; margin-left:10px; }

#main8 #main8-content>div .container .container-content .member-login>div form .memberUl>li .inputWrap .submit,
#main8 #main8-content>div .container .container-content .member-login>div form .memberUl>li .inputWrap .orderCheckBtn { border-radius:0; text-align:center; display:block; width:100%; height:50px; border:1px solid #5f0080; background:#5f0080; cursor:pointer; color:#fff; font-size:16px; font-weight:500; }
#main8 #main8-content>div .container .container-content .member-login>div form .memberUl>li .inputWrap>span { display:inline-block; }                      
#main8 #main8-content>div .container .container-content .member-login>div form .memberUl>li .inputWrap>span,
#main8 #main8-content>div .container .container-content .member-login>div form .memberUl>li .inputWrap>span a{ color:#777; font-size:13px; font-weight:normal; }                             
#main8 #main8-content>div .container .container-content .member-login>div form .memberUl>li .inputWrap>span a.non-member-gaib{ color:#5f0080; font-weight:500; text-decoration:underline; }
#main8 #main8-content>div .container .container-content .member-login>div form .memberUl>li .search-wrap { text-align:center; padding:20px 0 40px 0; }

#main8 #main8-content>div .container .container-content .member-login>div form .memberUl>li .inputWrap button { border-radius:0; text-align:center; display:block; width:100%; height:50px; border:1px solid #5f0080; background:#fff; cursor:pointer; color:#5f0080; font-size:16px; font-weight:500; }

.member-login { display:block; } 
.non-member-login { display:none; }

/* 로그인 성공 메시지 */
.logoin-wrap { text-align:center; color:#5f0080; font-size:14px; }
.logoin-wrap p { padding:5px 0; }
.logoin-wrap p a { display:block; width:100%; height:50px; line-height:50px; text-align:center; background:#5f0080; color:#fff; font-weight:normal;  text-shadow:none; box-shadow:none; }



/* 회원가입 폼 */
#main8-gaib { background:#fff; }
#main8-gaib #main8-gaib-header { }
#main8-gaib #main8-gaib-header>div {}
#main8-gaib #main8-gaib-header>div .container {}
#main8-gaib #main8-gaib-header>div .container .main8-gaib-container-popup {}
#main8-gaib #main8-gaib-header>div .container .main8-gaib-container-title { position:relative; width:100%; height:50px; }
#main8-gaib #main8-gaib-header>div .container .main8-gaib-container-title .main8-gaib-backButton { z-index:2; position:absolute; left:0; top:0; width:50px; height:50px; }
#main8-gaib #main8-gaib-header>div .container .main8-gaib-container-title .main8-gaib-backButton a { display:block; }
#main8-gaib #main8-gaib-header>div .container .main8-gaib-container-title .main8-gaib-backButton a img { width:100%; }

#main8-gaib #main8-gaib-header>div .container .main8-gaib-container-title .main8-gaib-cartButton {  z-index:2; position:absolute; right:0; top:0; width:50px; height:50px; }
#main8-gaib #main8-gaib-header>div .container .main8-gaib-container-title .main8-gaib-cartButton a { display:block; text-align:center; }
#main8-gaib #main8-gaib-header>div .container .main8-gaib-container-title .main8-gaib-cartButton a img { height:25px; padding:12.5px 0; }
#main8-gaib #main8-gaib-header>div .container .main8-gaib-container-title h1 { z-index:1; position:relative; width:100%; text-align:center; line-height:50px; font-size:20px; color:#333; }


#main8-gaib #main8-gaib-content {}
#main8-gaib #main8-gaib-content>div {}
#main8-gaib #main8-gaib-content>div .container {}
#main8-gaib #main8-gaib-content>div .container .main8-gaib-container-content {}
#main8-gaib #main8-gaib-content>div .container .main8-gaib-container-content {}
#main8-gaib #main8-gaib-content>div .container .main8-gaib-container-content form {}
#main8-gaib #main8-gaib-content>div .container .main8-gaib-container-content form ul {}
#main8-gaib #main8-gaib-content>div .container .main8-gaib-container-content form ul li {}
#main8-gaib #main8-gaib-content>div .container .main8-gaib-container-content form ul li>div { padding:12px 0; }
#main8-gaib #main8-gaib-content>div .container .main8-gaib-container-content form ul li>div label { color:#666; font-size:14px; }
#main8-gaib #main8-gaib-content>div .container .main8-gaib-container-content form ul li>div div { padding-top:5px; }
#main8-gaib #main8-gaib-content>div .container .main8-gaib-container-content form ul li>div div input[type='text'] { display:block; padding:7px 15px; color:#666; font-size:14px; width:100%; height:50px; border-radius:0; border:1px solid #ddd; box-shadow:none; text-shadow:none; box-sizing:border-box; }
#main8-gaib #main8-gaib-content>div .container .main8-gaib-container-content form ul li>div div input[type='tel'] { display:block; padding:7px 15px; color:#666; font-size:14px; width:100%; height:50px; border-radius:0; border:1px solid #ddd; box-shadow:none; text-shadow:none; box-sizing:border-box; }
#main8-gaib #main8-gaib-content>div .container .main8-gaib-container-content form ul li>div div input[type='password'] { display:block; padding:7px 15px; color:#666; font-size:14px; width:100%; height:50px; border-radius:0; border:1px solid #ddd; box-shadow:none; text-shadow:none; box-sizing:border-box; }
#main8-gaib #main8-gaib-content>div .container .main8-gaib-container-content form ul li>div div input[type='email'] { display:block; padding:7px 15px; color:#666; font-size:14px; width:100%; height:50px; border-radius:0; border:1px solid #ddd; box-shadow:none; text-shadow:none; box-sizing:border-box; }
#main8-gaib #main8-gaib-content>div .container .main8-gaib-container-content form ul li>div div input[type='text']:focus { outline:1px solid #666; outline-offset:-1px; }
#main8-gaib #main8-gaib-content>div .container .main8-gaib-container-content form ul li>div div input[type='tel']:focus { outline:1px solid #666; outline-offset:-1px; }
#main8-gaib #main8-gaib-content>div .container .main8-gaib-container-content form ul li>div div input[type='email']:focus { outline:1px solid #666; outline-offset:-1px; }
#main8-gaib #main8-gaib-content>div .container .main8-gaib-container-content form ul li>div div input[type='password']:focus { outline:1px solid #666; outline-offset:-1px; }
#main8-gaib #main8-gaib-content>div .container .main8-gaib-container-content form ul li>div div input::placeholder { color:#aaa; font-size:13px; }
#main8-gaib #main8-gaib-content>div .container .main8-gaib-container-content form ul li>div div input[type='button'] { display:block; width:100%; border:1px solid #5f0080; height:50px; box-shadow:none; text-shadow:none; color:#fff; background:#5f0080; font-size:16px; box-sizing:border-box; }
#main8-gaib #main8-gaib-content>div .container .main8-gaib-container-content form ul li>div div input[type='button']:focus { outline:0; }
#main8-gaib #main8-gaib-content>div .container .main8-gaib-container-content form ul li>div div input[type='radio'] {}
#main8-gaib #main8-gaib-content>div .container .main8-gaib-container-content form ul li>div div input[type='checkbox'] {}



















/* ///////////////////////////////////////////////////////////////////// */
/* goTop버튼 */
.goTopBtn-wrap { z-index:10; position:fixed; bottom:110px; right:17px;  width:46px; height:46px; border-radius:50%; overflow:hidden; }
.goTopBtn-wrap a { display:block; }
.goTopBtn-wrap a img { width:46px; }



/* 탭바 */
.tabbar { z-index:4; position:fixed; bottom:0; left:0; width:100%; height:48px;  background:#fff; }
.tabbar .tabbar-navbar {  }
.tabbar .tabbar-navbar ul { }
.tabbar .tabbar-navbar ul li { float:left; width:25%; }
.tabbar .tabbar-navbar ul li a { position:relative; display:block; width:100%; font-size:10px; color:#555; text-align:center; padding:31px 0 7px 0; text-shadow:none; }
.tabbar .tabbar-navbar ul li a:before { content:''; display:block; z-index:2; position:absolute; top:0; left:0; width:100%; height:30px; letter-spacing:-1px; }
.tabbar .tabbar-navbar ul li.tabbarList0 a:before { background:url(../img/ico_home.webp) no-repeat 50% 50%; background-size:auto 24px; }
.tabbar .tabbar-navbar ul li.tabbarList0.addTabbar a:before { background-image:url(../img/home.png); }
.tabbar .tabbar-navbar ul li.tabbarList1 a:before { background:url(../img/appbar.png) no-repeat 50% 50%; background-size:auto 24px; }
.tabbar .tabbar-navbar ul li.tabbarList1.addTabbar a:before { background-image:url(../img/ico_cate_on.webp); }
.tabbar .tabbar-navbar ul li.tabbarList2 a:before { background:url(../img/search.png) no-repeat 50% 50%; background-size:auto 24px; }
.tabbar .tabbar-navbar ul li.tabbarList3 a:before { background:url(../img/member.png) no-repeat 50% 50%; background-size:auto 24px; }


/* 푸터 팝업 */
.footPopup { z-index:4; position:fixed; bottom:48px; left:0; width:100%; height:50px;  background:rgba(0,0,0, .6); text-shadow:none; font-weight:200;  }
.footPopup div { text-align:center; }
.footPopup div a { display:inline-block; text-align:center; line-height:50px; padding:0 50px; text-shadow:none; }
.footPopup div a span { display:inline-block; margin:0 2px; }
.footPopup div a span span { }

.footPopup div a span.footPopupBtn-logoBtn-wrap { }
.footPopup div a span.footPopupBtn-logoBtn-wrap img { width:40px; padding:5px; }

.footPopup div a span.footPopupBtn-text-wrap { text-align:left; line-height:13px; }
.footPopup div a span.footPopupBtn-text-wrap span { display:block; padding-top:11px; color:#fff; font-size:11px;  }

.footPopup div a span.footPopupBtn-close-wrap { }
.footPopup div a span.footPopupBtn-close-wrap img { width:25px; padding:12.5px; }


