@charset "utf-8";
@import  url('reset.css');


/* 공통 AREA ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#memer1 { width:100%; border:0; padding:0; background:#fff; }
#memer1 #header	,
#memer1 #content,
#memer1 #footer { width:100%; border:0; padding:0; text-shadow:none; font-weight:400;  }



/* HEADER AREA ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#memer1 #header  #header-wrap  	{ position:relative;  width:100%; background:#fff;  }

/* HEADER POPUP */
#memer1 #header  #header-wrap  #header-popup { display:block; position:relative; width:100%; height:50px; background:#fff; border:1px solid #ddd; }
#memer1 #header  #header-wrap  #header-popup p { text-align:center; font-size:16px; color:#212121; padding:17px 0; }
#memer1 #header  #header-wrap  #header-popup span.hpopCloseBtn-wrap { position:absolute; top:0; right:0; width:50px; height:50px; }
#memer1 #header  #header-wrap  #header-popup span.hpopCloseBtn-wrap a { display:inline-block;  border:0; outline:0; text-decoration }
#memer1 #header  #header-wrap  #header-popup span.hpopCloseBtn-wrap a img { width:100%; }



/* HEADER LOGIN BOX */
#memer1 #header  #header-wrap  #header-login-wrap { position:relative; width:100%; }

/* HEADER WINDOW CLOSE BUTTON */
#memer1 #header  #header-wrap  #header-login-wrap #winCloseBtn-wrap { position:absolute; top:0; left:0; width:50px; height:50px; }
#memer1 #header  #header-wrap  #header-login-wrap #winCloseBtn-wrap a.winCloseBtn{ display:inline-block; border:0; outline:0; text-decoration:none; }
#memer1 #header  #header-wrap  #header-login-wrap #winCloseBtn-wrap a.winCloseBtn img { width:100%; }

#memer1 #header  #header-wrap  #header-login-wrap #winCloseBtn-wrap a.backMemberBtn{ display:inline-block; border:0; outline:0; text-decoration:none; }
#memer1 #header  #header-wrap  #header-login-wrap #winCloseBtn-wrap a.backMemberBtn img { width:100%; }

/* HEADER LOGIN TITLE */
#memer1 #header  #header-wrap  #header-login-wrap #header-title { width:100%; font-size:17px; font-weight:600; color:#000; text-align:center; padding:40px 0; }



/* CONTENT AREA ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* CONTENT AREA 회원 비회원 버튼 */
#memer1 #content #content-wrap	{ width:100%; height:auto;/* 임시 */ background:#fff; }
#memer1 #content #content-wrap	#nav-wrap { width:100%; }
#memer1 #content #content-wrap	#nav-wrap ul { width:100%; height:50px; }
#memer1 #content #content-wrap	#nav-wrap ul li { float:left; width:50%; height:50px; border-bottom:1px solid #ddd; }
#memer1 #content #content-wrap	#nav-wrap ul li a { display:block; width:100%; height:16px; font-weight:400; font-size:16px; padding:17px 0; text-align:center; color:#000; border-bottom:3px solid transparent; }
#memer1 #content #content-wrap	#nav-wrap ul li a.addNav { color:#5f0080; border-bottom:3px solid #5f0080; font-weight:500; }




/* CONTENT AREA 회원 입력상자, 체크박스, 버튼 그룹 */

#memer1 #content #content-wrap #form-wrap { width:100%; }
#memer1 #content #content-wrap #form-wrap #member { width:100%; }
#memer1 #content #content-wrap #form-wrap #member .form-member { padding:30px 20px; }
#memer1 #content #content-wrap #form-wrap #member .form-member li { padding:5px 0;}

/* input text box : 아이디, 비밀번호 */
#memer1 #content #content-wrap #form-wrap #member .form-member li div.text-wrap { width:100%; }
#memer1 #content #content-wrap #form-wrap #member .form-member li div.text-wrap div { margin:0; border:0; padding:0; box-shadow:none; } /* hidden 요소 */
#memer1 #content #content-wrap #form-wrap #member .form-member li div.text-wrap input.textBox { border:1px solid #ddd; padding:0 10px; height:70px; font-size:16px; border-radius:2px; }  
#memer1 #content #content-wrap #form-wrap #member .form-member li div.text-wrap input.textBox::placeholder { font-size:16px; color:#ccc; }  

/* input check box : 아이디저장, 자동로그인, 보안접속 */
#memer1 #content #content-wrap #form-wrap #member .form-member li div.checkbox-wrap { width:100%; padding:7px 0 20px 0; }

#memer1 #content #content-wrap #form-wrap #member .form-member li div.checkbox-wrap .checkbox-left { float:left;  width:auto; text-align:left; } 
#memer1 #content #content-wrap #form-wrap #member .form-member li div.checkbox-wrap .checkbox-left div { margin:0; } /* 체크(라디오)박스는 UI  hidden 요소 */
#memer1 #content #content-wrap #form-wrap #member .form-member li div.checkbox-wrap .checkbox-left div input.checkbox { width:15px; height:15px; margin-top:-8px; background:transparent; -webkit-appearance:none; appearance:none; border:1px solid #999; }
#memer1 #content #content-wrap #form-wrap #member .form-member li div.checkbox-wrap .checkbox-left div input.checkbox.addCheck:after { content:''; display:block; position:absolute; top:0; left:0; width:15px; height:15px; background:url(../img/ico_checkbox_checked.png) no-repeat 0 0; background-size:15px 15px; }
#memer1 #content #content-wrap #form-wrap #member .form-member li div.checkbox-wrap .checkbox-left div label { padding:0 0 0 26px; display:inline-block; position:relative; background:transparent; border:0; font-size:13px; color:#555;  font-weight:300; }
#memer1 #content #content-wrap #form-wrap #member .form-member li div.checkbox-wrap .checkbox-left div label:after { content:''; display:none; }

#memer1 #content #content-wrap #form-wrap #member .form-member li div.checkbox-wrap .checkbox-right { float:right; width:auto; text-align:right;  } 
#memer1 #content #content-wrap #form-wrap #member .form-member li div.checkbox-wrap .checkbox-right div { display:inline-block; }
#memer1 #content #content-wrap #form-wrap #member .form-member li div.checkbox-wrap .checkbox-right div div { margin:0; } /* 체크(라디오)박스는 UI  hidden 요소 */
#memer1 #content #content-wrap #form-wrap #member .form-member li div.checkbox-wrap .checkbox-right div div input.checkbox { width:15px; height:15px;  margin-top:-8px;  background:transparent; -webkit-appearance:none; appearance:none; border:1px solid #999; } 
#memer1 #content #content-wrap #form-wrap #member .form-member li div.checkbox-wrap .checkbox-right div div input.checkbox.addCheck:after { content:''; display:block; position:absolute; top:0; left:0; width:15px; height:15px; background:url(../img/ico_checkbox_checked.png) no-repeat 0 0; background-size:15px 15px; }
#memer1 #content #content-wrap #form-wrap #member .form-member li div.checkbox-wrap .checkbox-right div div label { padding:0 0 0 26px; display:inline-block; position:relative; background:transparent; border:0; font-size:13px; color:#555; font-weight:300; } 
#memer1 #content #content-wrap #form-wrap #member .form-member li div.checkbox-wrap .checkbox-right div div label:after { content:''; display:none; } 


/* BUTTON : 로그인 */
#memer1 #content #content-wrap #form-wrap #member .form-member li div.loginBtn-wrap { width:100%; }
#memer1 #content #content-wrap #form-wrap #member .form-member li div.loginBtn-wrap button.loginBtn { display:block; width:100%; height:70px; background:#5f0081; border-radius:2px; color:#fff; font-size:17px; font-weight:400; text-shadow:none; border:0; box-shadow:none; margin:0; }

#memer1 #content #content-wrap #form-wrap #member .form-member li div.okBtn-wrap { width:100%; }
#memer1 #content #content-wrap #form-wrap #member .form-member li div.okBtn-wrap button.okBtn { display:block; width:100%; height:70px; background:#5f0081; border-radius:2px; color:#fff; font-size:17px; font-weight:400; text-shadow:none; border:0; box-shadow:none; margin:0; }


/* Anchor 아이디 찾기 | 비밀번호 찾기  */
#memer1 #content #content-wrap #form-wrap #member .form-member li div.idpSearchBtn-wrap { width:100%; text-align:center; padding:20px 0 30px 0;}
#memer1 #content #content-wrap #form-wrap #member .form-member li div.idpSearchBtn-wrap span { display:inline-block; margin:0 5px; }
#memer1 #content #content-wrap #form-wrap #member .form-member li div.idpSearchBtn-wrap span a.idSearchBtn { color:#555; font-size:13px; font-weight:300; }
#memer1 #content #content-wrap #form-wrap #member .form-member li div.idpSearchBtn-wrap span a.psSearchBtn { color:#555; font-size:13px; font-weight:300; }
#memer1 #content #content-wrap #form-wrap #member .form-member li div.idpSearchBtn-wrap span i.bar { color:#555; font-size:13px; font-weight:300; }


/* Anchor button : 회원가입 */
#memer1 #content #content-wrap #form-wrap #member .form-member li div.gaibBtn-wrap { width:100%; }
#memer1 #content #content-wrap #form-wrap #member .form-member li div.gaibBtn-wrap a.gaibBtn{ display:block; width:100%; height:17px; text-align:center; background:#fff; border-radius:2px; color:#5f0081; font-size:17px; font-weight:400; text-shadow:none; box-shadow:none; margin:0; border:1px solid #5f0081; padding:15.5px 0; }

#memer1 #footer  #footer-wrap 	{ width:100%; height:auto; background:#fff; }



/* ////////////////////////////////////////////////////////////////////// */

/* 비회원 BUTTON : 주문확인 */
#memer1 #content #content-wrap #form-wrap #member .form-member li div.orderBtn-wrap { width:100%; }
#memer1 #content #content-wrap #form-wrap #member .form-member li div.orderBtn-wrap button.orderBtn{ display:block; width:100%; height:50px; background:#5f0081; border-radius:2px; color:#fff; font-size:17px; font-weight:400; text-shadow:none; border:0; box-shadow:none; margin:0; }


/* 비회원 Anchor button : 배회원구매 */
#memer1 #content #content-wrap #form-wrap #member .form-member li div.unMemberBtn-wrap { width:100%; }
#memer1 #content #content-wrap #form-wrap #member .form-member li div.unMemberBtn-wrap a.unMemberBtn{ display:block; width:100%; height:17px; text-align:center; background:#fff; border-radius:2px; color:#5f0081; font-size:17px; font-weight:400; text-shadow:none; box-shadow:none; margin:0; border:1px solid #5f0081; padding:15.5px 0; }

/* Anchor button : 회원가입 */
#memer1 #content #content-wrap #form-wrap #member .form-member li div.idpSearchBtn-wrap { width:100%; }
#memer1 #content #content-wrap #form-wrap #member .form-member li div.idpSearchBtn-wrap a.gaibBtn{ font-size:14px; text-decoration:underline; color:#5f0081; font-weight:300;  }




/* 탭메뉴 회원| 비회원 : 기본은 회원폼 */
#form-memer1 { display:block; }
#form-memer2 { display:none;  }











