@charset "utf-8";
@import  url('reset.css');


/* 헤더 LOGO BAR & NAV FIXED */
#gaib { width:100%; background:#f4f4f4; }
#gaib #header { z-index:3; position:fixed; top:0; left:0; width:100%; padding:0; margin:0; border:0; height:auto; background:#fff;}
#gaib #header #header-fixed-wrap { width:100%; height:auto; }

/* HEADER POPUP */
#gaib #header #header-fixed-wrap  #header-popup { display:block; position:relative; width:100%; height:50px; background:#fff; border:1px solid #ddd; }
#gaib #header #header-fixed-wrap  #header-popup p { text-align:center; font-size:16px; color:#212121; padding:17px 0; }
#gaib #header #header-fixed-wrap  #header-popup p span { color:#5f0080; }
#gaib #header #header-fixed-wrap  #header-popup span.hpopCloseBtn-wrap { position:absolute; top:0; right:0; width:50px; height:50px; }
#gaib #header #header-fixed-wrap  #header-popup span.hpopCloseBtn-wrap a { display:inline-block;  border:0; outline:0; text-decoration }
#gaib #header #header-fixed-wrap  #header-popup span.hpopCloseBtn-wrap a img { width:100%; }


/* 헤더타이틀 */
#gaib #header #header-fixed-wrap  #header-title { position:relative;  width:100%;  height:50px; background:#fff; }
#gaib #header #header-fixed-wrap  #header-title h1 { font-size:16px; color:#000; text-align:center; padding:17px 0;}
#gaib #header #header-fixed-wrap  #header-title span.prevPageBtn-wrap  { position:absolute; left:0; top:0; width:50px; height:50px; }
#gaib #header #header-fixed-wrap  #header-title span.prevPageBtn-wrap a img { width:100%; }
#gaib #header #header-fixed-wrap  #header-title span.cartBtn-wrap  { position:absolute; right:0; top:0; width:50px; height:50px; }
#gaib #header #header-fixed-wrap  #header-title span.cartBtn-wrap a img { width:100%; }


#gaib #content { width:100%; height:auto; padding:0; margin:0; box-shadow:none; text-shadow:none;}
#gaib #content #content-wrap { margin-top:110px; width:100%; padding-bottom:50px; background:#fff; }
#gaib #content #content-wrap #gaibform { width:100%; display:block; }

#gaib #content #content-wrap #gaibform ul#gaibform-wrap { padding:0 20px;  }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li { padding:5px 0; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .gaibform-content-wrap { width:100%; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .gaibform-content-wrap label { display:block; font-size:16px; width:100%; color:#212121; font-weight:600; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .gaibform-content-wrap div.input-wrap { width:100%; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .gaibform-content-wrap div.input-wrap div { float:left; padding:0; border:0; margin:0; display:block; width:78%; height:50px; box-shadow:none; } /* hidden box */
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .gaibform-content-wrap div.input-wrap div input { display:block; width:100%; height:50px; padding:0 10px; border:1px solid #ddd; background:#fff; box-sizing:border-box;  }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li:nth-child(2) .gaibform-content-wrap div.input-wrap div input { border:1px solid #c00;  }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li:nth-child(3) .gaibform-content-wrap div.input-wrap div input { border:1px solid #c00;  }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .gaibform-content-wrap div.input-wrap div input:focus { border:1px solid #000;  }

#gaib #content #content-wrap #gaibform ul#gaibform-wrap li:nth-child(2) .gaibform-content-wrap div.input-wrap div { width:100%; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li:nth-child(3) .gaibform-content-wrap div.input-wrap div { width:100%; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li:nth-child(4) .gaibform-content-wrap div.input-wrap div { width:100%; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li:nth-child(5) .gaibform-content-wrap div.input-wrap div { width:100%; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li:nth-child(6) .gaibform-content-wrap div.input-wrap div { width:68%; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li:nth-child(7) .gaibform-content-wrap div.input-wrap div { width:68%; }

#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .gaibform-content-wrap div.input-wrap button { float:right; display:block; width:20%; height:50px; background:#5f0080; font-size:16px; color:#fff;  box-sizing:border-box; margin:0; font-weight:300; text-shadow:none;    }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li:nth-child(6) .gaibform-content-wrap div.input-wrap button {  width:30%; background:#ddd; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li:nth-child(7) .gaibform-content-wrap div.input-wrap button {  width:30%; background:#fff; color:#ccc; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li:nth-child(8) .gaibform-content-wrap div.input-wrap button {  width:100%; background:url; color:#ccc; box-shadow:0; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li:nth-child(8) .gaibform-content-wrap div.input-wrap button span  { display:inline-block; padding-left:0;}
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li:nth-child(8) .gaibform-content-wrap div.input-wrap button span img { padding:0; width:25px; color:#ccc;  margin-top:-3px; padding-right:5px;}


#gaib #content #content-wrap #gaibform ul#gaibform-wrap li:nth-child(7) .gaibform-content-wrap div.guid-wrap { padding:50px 0 10px 0;  }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .gaibform-content-wrap div.guid-wrap { padding:10px 0 30px 0; line-height:20px }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .gaibform-content-wrap div.guid-wrap p:first-child { font-size:13px; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .gaibform-content-wrap div.guid-wrap p:last-child {  font-size:13px; }



/* 주소검색 */
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .birth-day-wrap { width:100%; border:1px solid #ddd; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .birth-day-wrap ul.birth-day { width:100%; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .birth-day-wrap ul.birth-day li { float:left; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .birth-day-wrap ul.birth-day li:nth-child(1) { width:30%; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .birth-day-wrap ul.birth-day li:nth-child(2) { width:5%; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .birth-day-wrap ul.birth-day li:nth-child(3) { width:30%; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .birth-day-wrap ul.birth-day li:nth-child(4) { width:5%; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .birth-day-wrap ul.birth-day li:nth-child(5) { width:30%; }

#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .birth-day-wrap ul.birth-day li:nth-child(6) { display:none;}
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .birth-day-wrap ul.birth-day li:nth-child(7) { display:none;}
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .birth-day-wrap ul.birth-day li:nth-child(8) { display:none;}
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .birth-day-wrap ul.birth-day li:nth-child(9) { display:none;}
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .birth-day-wrap ul.birth-day li:nth-child(10) { display:none;}


#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .birth-day-wrap ul.birth-day li div.gaibform-content-wrap { width:100%;}
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .birth-day-wrap ul.birth-day li div.gaibform-content-wrap  div.input-wrap { width:100%; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .birth-day-wrap ul.birth-day li div.gaibform-content-wrap  div.input-wrap div { width:100%; height:40px; margin:0; padding:0; border:0; } /* hidden 요소 */
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .birth-day-wrap ul.birth-day li div.gaibform-content-wrap  div.input-wrap div input { display:block; width:100%; height:40px; border:0; text-align:center; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .birth-day-wrap ul.birth-day li span { padding:10px 0; display:block; font-size:20px; text-align:center;}


/* 성별 */
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .gender-wrap { width:100%; padding-top:30px;  }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .gender-wrap .gaibform-content-wrap { width:100% }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .gender-wrap .gaibform-content-wrap legend { font-size:16px; color:#212121; font-weight:600; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .gender-wrap ul { width:100%; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .gender-wrap ul li { width:100%; border-bottom:1px solid #ddd; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .gender-wrap ul li div.radio-wrap { width:100%; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .gender-wrap ul li div.radio-wrap div { position:relative;  margin:0; padding:0; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .gender-wrap ul li div.radio-wrap div input { display:inline-block; background:transparent; -webkit-appearance:none;  appearance:none; border:1px solid #ccc; width:23px; height:23px; border-radius:50%;   margin-top:-12px;}
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .gender-wrap ul li div.radio-wrap div input.addRadio:after {content:''; display:block; position:absolute; top:0; left:0; width:100%; height:100%; background:#fff; border-radius:50%; box-sizing:border-box; border:5px solid #5f0081; } 
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .gender-wrap ul li div.radio-wrap div label { background:transparent; border:0; font-weight:400; text-shadow:none; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .gender-wrap ul li div.radio-wrap div label:after { content:''; display:none; }


/* 이용약관 위 구분 선 두께 10px 회색 */
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li:nth-child(11) {width:100%; height:10px; background:#f4f4f4; margin:40px 0;}


/* 이용약관 */
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .gaibform-content-wrap { width:100%; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .gaibform-content-wrap legend.title { background:transparent; font-size:16px; color:#212121; font-weight:600; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .check-ok-wrap { width:100%; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .check-ok-wrap .all-check-wrap { width:100%; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .check-ok-wrap .all-check-wrap { width:100%; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .check-ok-wrap .all-check-wrap div { width:100% }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .check-ok-wrap .all-check-wrap div input { width:20px; height:20px; background:transparent; -webkit-appearance:none; appearance:none; border:1px solid #ccc; border-radius:0; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .check-ok-wrap .all-check-wrap div input.addBottomCheck:after { content:''; display:block; width:20px; height:20px; background:url(../img/ico_checkbox_checked.png) no-repeat 0 0;  background-size:20px 20px;  }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .check-ok-wrap .all-check-wrap div label { background:transparent; border:0; color:#212121; font-weight:400; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .check-ok-wrap .all-check-wrap div label:after { content:''; display:none; }



#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .check-ok-wrap .all-check-list-wrap {width:100%;}
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .check-ok-wrap .all-check-list-wrap ul { padding-left:30px;}
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .check-ok-wrap .all-check-list-wrap ul li { padding:0; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .check-ok-wrap .all-check-list-wrap ul li .all-check-wrap { margin:0; padding:0; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .check-ok-wrap .all-check-list-wrap ul li .all-check-wrap div.ui-checkbox { margin:0;  padding:0; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .check-ok-wrap .all-check-list-wrap ul li .all-check-wrap div.ui-checkbox label { padding-top:6px; padding-bottom:6px; }

#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .check-ok-wrap .all-check-list-wrap ul li .all-check4-wrap { padding-left:30px;}
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .check-ok-wrap .all-check-list-wrap ul li .all-check4-wrap li { display:inline-block; padding:0; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .check-ok-wrap .all-check-list-wrap ul li .all-check4-wrap li:nth-child(1) { margin-right:30px; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .check-ok-wrap .all-check-list-wrap ul li .sns-guid-img { padding-left:36px; width:198px; margin-top:-2px; padding-bottom:7px; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .check-ok-wrap .all-check-list-wrap ul li .sns-guid-img img { width:100%;  }


/* 가입하기 버튼 */
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .gaibBtn-wrap {padding:30px 0; text-align:center; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .gaibBtn-wrap button { width:100%; height:60px; background:#5f0081; border:1px solid #5f0081; color:#fff; font-size:17px; border-radius:2px; }
#gaib #content #content-wrap #gaibform ul#gaibform-wrap li .gaibBtn-wrap p { color:#555; font-size:15px; }




	























































/* 푸터 NAV FIXED //////////////////////////////////////////////////// */


#footer { z-index:2; position:relative; width:100%; padding:0; margin:0; border:0; background:#f7f7f7; }

/* 푸터 NAV FIXED */
#footer #footer-fixed-wrap { z-index:3; position:fixed; bottom:0; left:0; width:100%; height:auto;  border-top:1px solid #ddd; }

/* 푸터 BANNER */
#footer #footer-fixed-wrap .footer-banner { display:block; width:100%; height:60px; background:url(../img/bg_gray.png) repeat 0 0; }
#footer #footer-fixed-wrap .footer-banner.addFootbanner { display:none; }

/* 푸터 BANNER 400이하에서 Scale */
#footer #footer-fixed-wrap .footer-banner .footer-banner-scale{ transform:scale(1); }

#footer #footer-fixed-wrap .footer-banner .footer-banner-wrap { z-index:1;  position:relative; width:100%; padding:6px 0; text-align:center; }
#footer #footer-fixed-wrap .footer-banner .footer-banner-wrap li { display:inline-block; margin:0 5px; }
#footer #footer-fixed-wrap .footer-banner .footer-banner-wrap li img { width:48px; }
#footer #footer-fixed-wrap .footer-banner .footer-banner-wrap li p { text-align:left; padding-top:5px; line-height:140%; font-size:13px; color:#bbb; padding-right:30px; font-weight:300; text-shadow:none; }

/* 푸터 BANNER CLOSE BUTTON */
#footer #footer-fixed-wrap .footer-banner .footBannerCloseBtn-wrap { z-index:2; position:absolute; left:50%; margin-left:110px; top:5px; width:40px; height:40px; }
#footer #footer-fixed-wrap .footer-banner .footBannerCloseBtn-wrap a { display:block; font-family:'Noto Sans KR'; font-size:40px; color:#bbb;  font-weight:100; text-shadow:none; }

	

/* 푸터 NAV */
#footer #footer-fixed-wrap .footer-nav { width:100%; height:48px; background:#fff; }
#footer #footer-fixed-wrap .footer-nav ul { width:100%; height:48px; }
#footer #footer-fixed-wrap .footer-nav ul li { float:left; width:25%; height:48px; }
#footer #footer-fixed-wrap .footer-nav ul li a { display:block: width:100%; }
#footer #footer-fixed-wrap .footer-nav ul li a span{ position:relative; display:block; width:100%; height:24px; margin-top:5px;}
#footer #footer-fixed-wrap .footer-nav ul li:nth-child(1) a span{ background:url(../img/ico_home.png) no-repeat 50% 0; background-size:24px 24px; }
#footer #footer-fixed-wrap .footer-nav ul li:nth-child(1) a.addfootnav span{ background-image:url(../img/ico_home_on.png); }
#footer #footer-fixed-wrap .footer-nav ul li:nth-child(1) a span:after{content:'홈'; position:absolute; bottom:-12px; left:0; width:100%; display:block; text-align:center; font-size:10px; color:#212121; font-weight:400;  }
#footer #footer-fixed-wrap .footer-nav ul li:nth-child(1) a.addfootnav span:after{ color:#512772; font-weight:600;  }

#footer #footer-fixed-wrap .footer-nav ul li:nth-child(2) a span{ background:url(../img/ico_cate.png) no-repeat 50% 0; background-size:24px 24px; }
#footer #footer-fixed-wrap .footer-nav ul li:nth-child(2) a span:after{ content:'카테고리'; position:absolute; bottom:-12px; left:0; width:100%; display:block; text-align:center; font-size:10px; color:#212121; font-weight:400;  }

#footer #footer-fixed-wrap .footer-nav ul li:nth-child(3) a span{ background:url(../img/ico_search.png) no-repeat 50% 0; background-size:24px 24px; }
#footer #footer-fixed-wrap .footer-nav ul li:nth-child(3) a span:after{ content:'검색'; position:absolute; bottom:-12px; left:0; width:100%; display:block; text-align:center; font-size:10px; color:#212121; font-weight:400;  }

#footer #footer-fixed-wrap .footer-nav ul li:nth-child(4) a span{ background:url(../img/ico_mypage.png) no-repeat 50% 0; background-size:24px 24px; }
#footer #footer-fixed-wrap .footer-nav ul li:nth-child(4) a span:after{ content:'마이컬리'; position:absolute; bottom:-12px; left:0; width:100%; display:block; text-align:center; font-size:10px; color:#212121; font-weight:400;  }

